body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.header-section {
    background-color: rgb(4 4 44);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
}

h1.hadding-title {
    font-size: 50px;
    font-weight: 600;
    color: tomato;
}