body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.header-section {
    background-color: rgb(4 4 44);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
}

h1.hadding-title {
    font-size: 50px;
    font-weight: 600;
    color: tomato;
}

.card-section {
    background: #0c1322;
    padding: 80px;
}

.card-style {
    background-color: #010213;
    color: white;
}

.card-style-body {
    background: #00000074;
    color: white;
}

.card-style {
    padding: 30px;
}

.list ul li {
    list-style-type: number;
    padding-top: 26px;
}

input {
    width: 120px;
    margin-left: 20px;
    border: 1px solid gray;
}